$purple: #FB7BF0;
$green: #99E2D0;
$grey: #E5E5E5;
$grey-light: #F2F2F2;
$black: #333333;


html, body{
box-sizing: border-box;
display: block;
font-size: 18px;
}

.container{

    .header{
        background-color: white;
        text-align: center;
        width: 100%;
        margin: auto auto 0 auto;

        img{
            margin: auto;
        }
    }

    .search-form{
        width: 100%;
        text-align: center;
        height: 50px;
        background-color: $grey;
        margin: auto auto 0 auto;

        &__icon{
            margin: 30px auto;
            i{
                font-size: 15px;
                margin: auto;
            }
        }

        &__input{
            color: $grey;
            margin: 15px auto;
            background-color: $grey;
            font-weight: 700;
            width: 100px;
        }
    }

    .presentation{
        background-color: $grey-light;
        width: 100%;
        display: block;
        text-align: center;
        height: 300px;
        margin: 0 auto ;

        &__title{
            font-weight: bold;
        }

        &__text{
            font-weight: 200;
            margin: 50px auto;

        }

        &__btn{
            background-color: $purple;
            width: 200px;
            height: 50px;
            border-radius: 30px;
            color: white;
            margin: 50px auto;
            
            a{
                color: white;
                text-decoration: none;
            }
        }

    }

    .nav{

        &__title{
           font-weight: bold;
           text-align: left;
           margin-left: 50px;
       }

       &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        margin: auto;

           &__card{
               display: table;
               flex-direction: row;
               justify-content: space-between;
               list-style: none;
               width: 300px;
               margin: 10px auto;
               background-color: $grey;
               height: 50px;
               border-radius: 30px;
               

               &__number,
               i,
                &__text{
                    display: table-cell;
                    margin: auto;
                    vertical-align: middle;
                }

                &__number{
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                    background-color: $purple;
                    color: white;
                    margin-right: 50px;
                    text-align: center;
                }

                i{
                    margin: auto 30px;
                }
           }
       }
    }

    .figures{
        display: block;
        background-color: $grey-light;

        &__title{
            margin: 50px auto auto 50px;
            font-weight: bold;
        }

        .main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            &__figure{
               
                display: block;
                width: 250px;
                height: 200px;
                border-radius: 50px;
                margin: auto;

                &__img{
                    text-decoration: none;
                    color: black;
                    position: relative;
                    width: 300px;
                    border-radius: 50px;

                    .new{
                        position: absolute;
                        top: -140px;
                        right: 15px;
                        background-color: $green;
                        height: 20px;
                        width: 100px;

                    }

                    img{
                        width: 100%;
                        height: 150px;
                    }

                    &__infos{
                        background-color: white;
                        display: grid;
                        grid-template-areas: 
                        "food-name food-icon"
                        "food-description food-icon";
                        grid-template-rows: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;

                        h3{
                            font-weight :bold;
                            font-weight: 100;
                            grid-area: "food-name";
                        }

                        p{
                            font-weight: 100;
                            text-align: left;
                            grid-area:"food- description";
                        }

                        .icon{
                            margin: auto 5px;
                            grid-area: "food-icon";

                            i{
                                border: 2px black solid;
                                color: white;
                            }
                        }
                    }



                }
            }
        }
    }

    /*pages*/
    .image{
        width: 100%;
        height: 250px;
        border-radius: 15px;

        img{
            height: 250px;
            width: 100%;
        }
    }

    .restaurant{
        display: block;
        
        .menu{
            display: block;
            width: 80%;
            margin: auto;
            text-align: left;

            .menu__heading{
                display: flex;
                flex-direction: row;
                
                &__title{

                }
            }
        }
    }

    .footer{
        background-color: $black;
        display: block;
        margin: 50px auto 0 auto;
        text-align: center;
    
        &__home-link{
            text-decoration: none;
            margin: auto;
    
            h4{
                color: white;
                font-size: 30px;
                margin: 20px auto;
            }
        }
    
        &__links{
            li{
                display: block;
                margin: 5px auto;
                font-size: 16px;
    
                i{
                    color: white;
                }
    
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}



/*responsive*/
@media screen and (min-width: 1024px) {
    .container{
        text-align: center;

        &__title{
            margin: auto;
        }
        .nav{
            text-align: center;
            margin: auto;

            &__list{
                width: 100%;

               
            }
        }

        .figures{

            .main{
                
            }
        }
    }
}