html, body {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
}

.container .header {
  background-color: white;
  text-align: center;
  width: 100%;
  margin: auto auto 0 auto;
}

.container .header img {
  margin: auto;
}

.container .search-form {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #E5E5E5;
  margin: auto auto 0 auto;
}

.container .search-form__icon {
  margin: 30px auto;
}

.container .search-form__icon i {
  font-size: 15px;
  margin: auto;
}

.container .search-form__input {
  color: #E5E5E5;
  margin: 15px auto;
  background-color: #E5E5E5;
  font-weight: 700;
  width: 100px;
}

.container .presentation {
  background-color: #F2F2F2;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  margin: 0 auto;
}

.container .presentation__title {
  font-weight: bold;
}

.container .presentation__text {
  font-weight: 200;
  margin: 50px auto;
}

.container .presentation__btn {
  background-color: #FB7BF0;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: white;
  margin: 50px auto;
}

.container .presentation__btn a {
  color: white;
  text-decoration: none;
}

.container .nav__title {
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
}

.container .nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.container .nav__list__card {
  display: table;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  margin: 10px auto;
  background-color: #E5E5E5;
  height: 50px;
  border-radius: 30px;
}

.container .nav__list__card__number,
.container .nav__list__card i, .container .nav__list__card__text {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.container .nav__list__card__number {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #FB7BF0;
  color: white;
  margin-right: 50px;
  text-align: center;
}

.container .nav__list__card i {
  margin: auto 30px;
}

.container .figures {
  display: block;
  background-color: #F2F2F2;
}

.container .figures__title {
  margin: 50px auto auto 50px;
  font-weight: bold;
}

.container .figures .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.container .figures .main__figure {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 50px;
  margin: auto;
}

.container .figures .main__figure__img {
  text-decoration: none;
  color: black;
  position: relative;
  width: 300px;
  border-radius: 50px;
}

.container .figures .main__figure__img .new {
  position: absolute;
  top: -140px;
  right: 15px;
  background-color: #99E2D0;
  height: 20px;
  width: 100px;
}

.container .figures .main__figure__img img {
  width: 100%;
  height: 150px;
}

.container .figures .main__figure__img__infos {
  background-color: white;
  display: grid;
  grid-template-areas: "food-name food-icon" "food-description food-icon";
  grid-template-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container .figures .main__figure__img__infos h3 {
  font-weight: bold;
  font-weight: 100;
  grid-area: "food-name";
}

.container .figures .main__figure__img__infos p {
  font-weight: 100;
  text-align: left;
  grid-area: "food- description";
}

.container .figures .main__figure__img__infos .icon {
  margin: auto 5px;
  grid-area: "food-icon";
}

.container .figures .main__figure__img__infos .icon i {
  border: 2px black solid;
  color: white;
}

.container .footer {
  background-color: #333333;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
}

.container .footer__home-link {
  text-decoration: none;
  margin: auto;
}

.container .footer__home-link h4 {
  color: white;
  font-size: 30px;
  margin: 20px auto;
}

.container .footer__links li {
  display: block;
  margin: 5px auto;
  font-size: 16px;
}

.container .footer__links li i {
  color: white;
}

.container .footer__links li a {
  color: white;
  text-decoration: none;
}

/*responsive*/
@media screen and (min-width: 1024px) {
  .container {
    text-align: center;
  }
  .container__title {
    margin: auto;
  }
  .container .nav {
    text-align: center;
    margin: auto;
  }
  .container .nav__list {
    width: 100%;
  }
}
