@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.container {
  /*pages*/
}

.container .header {
  background-color: white;
  text-align: center;
  width: 100%;
  margin: auto auto 0 auto;
}

.container .header img {
  margin: auto;
}

.container .search-form {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #E5E5E5;
  margin: auto auto 0 auto;
}

.container .search-form__icon {
  margin: 30px auto;
}

.container .search-form__icon i {
  font-size: 15px;
  margin: auto;
}

.container .search-form__input {
  color: #E5E5E5;
  margin: 15px auto;
  background-color: #E5E5E5;
  font-weight: 700;
  width: 100px;
}

.container .presentation {
  background-color: #F2F2F2;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  margin: 0 auto;
}

.container .presentation__title {
  font-weight: bold;
}

.container .presentation__text {
  font-weight: 200;
  margin: 50px auto;
}

.container .presentation__btn {
  background-color: #FB7BF0;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: white;
  margin: 50px auto;
}

.container .presentation__btn a {
  color: white;
  text-decoration: none;
}

.container .nav__title {
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
}

.container .nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.container .nav__list__card {
  display: table;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  margin: 10px auto;
  background-color: #E5E5E5;
  height: 50px;
  border-radius: 30px;
}

.container .nav__list__card__number,
.container .nav__list__card i, .container .nav__list__card__text {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.container .nav__list__card__number {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #FB7BF0;
  color: white;
  margin-right: 50px;
  text-align: center;
}

.container .nav__list__card i {
  margin: auto 30px;
}

.container .figures {
  display: block;
  background-color: #F2F2F2;
}

.container .figures__title {
  margin: 50px auto auto 50px;
  font-weight: bold;
}

.container .figures .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.container .figures .main__figure {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 50px;
  margin: auto;
}

.container .figures .main__figure__img {
  text-decoration: none;
  color: black;
  position: relative;
  width: 300px;
  border-radius: 50px;
}

.container .figures .main__figure__img .new {
  position: absolute;
  top: -140px;
  right: 15px;
  background-color: #99E2D0;
  height: 20px;
  width: 100px;
}

.container .figures .main__figure__img img {
  width: 100%;
  height: 150px;
}

.container .figures .main__figure__img__infos {
  background-color: white;
  display: grid;
  grid-template-areas: "food-name food-icon" "food-description food-icon";
  grid-template-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container .figures .main__figure__img__infos h3 {
  font-weight: bold;
  font-weight: 100;
  grid-area: "food-name";
}

.container .figures .main__figure__img__infos p {
  font-weight: 100;
  text-align: left;
  grid-area: "food- description";
}

.container .figures .main__figure__img__infos .icon {
  margin: auto 5px;
  grid-area: "food-icon";
}

.container .figures .main__figure__img__infos .icon i {
  border: 2px black solid;
  color: white;
}

.container .image {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  z-index: 0;
}

.container .image img {
  height: 250px;
  width: 100%;
}

.container .restaurant {
  display: block;
  background-color: #F2F2F2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 99;
  text-align: center;
}

.container .restaurant .content {
  display: block;
  width: 800px;
  margin: auto;
}

.container .restaurant .content__heading {
  display: table;
  width: 100%;
  height: 30px;
}

.container .restaurant .content__heading__title {
  float: left;
  display: table-cell;
  vertical-align: middle;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 1.7em;
  margin: 30px auto auto 30px;
}

.container .restaurant .content__heading i {
  float: right;
  display: table-cell;
  font-size: 30px;
  margin: 40px auto auto auto;
}

.container .restaurant .content .menu__title {
  float: left;
  font-size: 18px;
  color: black;
}

.container .restaurant .content .menu__title-line {
  height: 5px;
  width: 150px;
  background-color: #7ac77a;
  margin: -10px auto;
  border: 1px solid black;
}

.container .restaurant .content .menu__card {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 15px auto;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.container .restaurant .content .menu__card__details {
  background-color: white;
  height: 80px;
  width: 100%;
  border-radius: 15px;
  display: grid;
  cursor: pointer;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  grid-template-areas: "nom ." "supplements price";
}

.container .restaurant .content .menu__card__details h3 {
  grid-area: nom;
  text-align: left;
  margin: 10px auto auto 15px;
  font-weight: bolder;
  font-size: 21px;
}

.container .restaurant .content .menu__card__details .supplements {
  grid-area: supplements;
  text-align: left;
  margin: 0px auto 15px 15px;
  font-weight: bold;
  font-size: 18px;
}

.container .restaurant .content .menu__card__details .price {
  grid-area: price;
  font-weight: bold;
  margin: auto 10px 20px auto;
  font-size: 17px;
}

.container .restaurant .content .menu__card__check-btn {
  width: 0;
  background-color: #99E2D0;
  border-radius: 5px;
  display: none;
}

.container .restaurant .content .menu__card__check-btn .fa-check-circle {
  font-size: 25px;
  margin: 25px auto;
  display: none;
}

.container .restaurant .content .menu__card:hover__details {
  width: 95%;
}

.container .restaurant .content .menu__card:hover .menu__card__check-btn {
  width: 5%;
  display: block;
  cursor: pointer;
}

.container .restaurant .content .menu__card:hover .menu__card__check-btn .fa-check-circle {
  display: block;
}

.container .restaurant .content .menu__btn {
  height: 50px;
  width: 200px;
  font-size: 16px;
  background-color: #FB7BF0;
  color: white;
  border-radius: 30px;
  margin: 20px auto;
  border: none;
  font-weight: bold;
}

.footer {
  background-color: #333333;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
}

.footer__home-link {
  text-decoration: none;
  margin: auto;
}

.footer__home-link h4 {
  color: white;
  font-size: 30px;
  margin: 20px auto;
}

.footer__links li {
  display: block;
  margin: 5px auto;
  font-size: 16px;
}

.footer__links li i {
  color: white;
}

.footer__links li a {
  color: white;
  text-decoration: none;
}

/*responsive*/
/*
@media screen and (min-width: 1024px) {
    .container{
        text-align: center;

        &__title{
            margin: auto;
        }
        .nav{
            text-align: center;
            margin: auto;

            &__list{
                width: 100%;

               
            }
        }

        .figures{

            .main{
                
            }
        }
    }
}
*/
